<!DOCTYPE HTML>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        a {color:#666688;}
    </style>
</head>
<body>
    <div style="float:right">
    <img style="float:right;" src="{{ url_for('static', filename='img/1.png') }}" /><br>
    <img style="float:right;" src="{{ url_for('static', filename='img/2.png') }}" /><br>
    </div>
    </style>
    <div style="float:right">
    <img style="float:right;" src="{{ url_for('static', filename='img/3.png') }}" /><br>
    <img style="float:right;" src="{{ url_for('static', filename='img/4.png') }}" /><br>
    </div>
    
    <h1> F1 in Schools <i>Practice</i> Leaderboard </h1>
    <a href='/6'>  Year 6 Leaderboard </a><br>
    <a href='/4'>  Year 4 Leaderboard </a><br>
    <h2> Class Leaderboards: </h2>
    <a href='/class/6J'>  6J Leaderboard </a><br>
    <a href='/class/6W'>  6W Leaderboard </a><br>
    <a href='/class/6T'>  6T Leaderboard </a><br>
    <a href='/class/6L'>  6L Leaderboard </a><br>
    <br>
    <a href='/class/4W'>  4W Leaderboard </a><br>
    <a href='/class/4T'>  4T Leaderboard </a><br>
    <a href='/class/4L'>  4L Leaderboard </a><br>
    <h2> New Entry: </h2>
    <a href='/newEntry'>   Create New Time Entry </a><br>
    <a href='/newTeam'>  Add Team </a>
    <h2> Update Entries: </h2>
    <a href='/updateEntry'>   Edit Previous Time Entry </a><br>
    <a href='/updateTeam'>  Edit Team Information</a>
</body>
</html>