<!DOCTYPE html>
<html>
<body>

<h2>New Race Result Record:</h2>

<form action="/submit" method="POST">
    <h1> Team Details</h1>

 <label for="lname">Team Number: (Must be exact!)</label><br>
  <input type="text" id="TeamNo" name="TeamNo" value="00"><br><br>

  <label for="lname">Time:</label><br>
  <input type="text" id="TeamNo" name="Time" value="1.111"><br><br>

  <label for="lname">Password:</label><br>
  <input type="password" id="s" name="pswd" value="0"><br><br>

  <input type="submit" value="Submit">
</form>

<p>Click Submit to continue</p>

</body>
</html>