<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        a {color:#666688;}
    </style>
  </head>
  <body>

    <h2>New Team Registration:</h2>

    <form action="/NewTeamSubmit" method="POST">
        <h1> Team Details</h1>
        <label for="lname">Team Name: </label><br>
      <input type="text" id="TeamNo" name="name" value="team awesome"><br><br>

      <label for="lname">Members: (seperated by commas)</label><br>
      <input type="text" id="TeamNo" name="members" value="bob,sarah"><br><br>

    <label for="lname">Team Number: (Must be exact!)</label><br>
      <input type="text" id="TeamNo" name="teamNo" value="5"><br><br>

      <label for="lname">Year: (Must be exact!)</label><br>
      <input type="text" id="TeamNo" name="yrGroup" value="3W"><br><br>

      <label for="lname">Time: (leave 999 if haven't raced)</label><br>
      <input type="text" id="TeamNo" name="time" value="999"><br><br>

      <label for="lname">Password:</label><br>
      <input type="password" id="s" name="pswd" value="0"><br><br>

      <input type="submit" value="Submit">
    </form>

    <p>Click Submit to continue</p>

  </body>
</html>