<!DOCTYPE html>
<html>
<body>

<h2>Update Team Information:</h2>
<p1> check the existing stats first by opening the teamInfo page on the relevent class list. </p1>
<form action="/updateTeamSubmit" method="POST">
    <h1> Team Details</h1>
    <label for="lname">Team Name: </label><br>
  <input type="text" id="TeamNo" name="name" value="teamNAME"><br><br>

  <label for="lname">Members: (seperated by commas)</label><br>
  <input type="text" id="TeamNo" name="members" value="mel,matt"><br><br>

 <label for="lname">Team Number: (Must be exact!)</label><br>
  <input type="text" id="TeamNo" name="teamNo" value="NULL"><br><br>

   <label for="lname">Year: (Must be exact!)</label><br>
  <input type="text" id="TeamNo" name="yrGroup" value="0X"><br><br>

  <label for="lname">Password:</label><br>
  <input type="password" id="s" name="pswd" value="0"><br><br>

  <input type="submit" value="Submit">
</form>

<p>Click Submit to continue</p>

</body>
</html>